<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="containers_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="containers_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="containers.diagram.part.ContainersDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ContainersDiagramFile.gif"
         extensions="containers_diagram"
         default="true"
         class="containers.diagram.part.ContainersDiagramEditor"
         matchingStrategy="containers.diagram.part.ContainersMatchingStrategy"
         contributorClass="containers.diagram.part.ContainersDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="containers.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ContainersDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="containers.diagram.part.ContainersCreationWizard"
  	     id="containers.diagram.part.ContainersCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.app.infrastructure.designer.emf.diagram.InitDiagram"
            nameFilter="*.containers"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="containers.diagram.part.ContainersInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.app.infrastructure.designer.emf.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ContainersPresentation">
         <Priority name="Lowest"/>
         <ViewId id="containers.diagram.part.ContainersDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ContainersPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="containers.diagram.part.ContainersDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ContainersRender">
         <Priority name="Lowest"/>
         <ViewId id="containers.diagram.part.ContainersDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="containers.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.app.infrastructure.designer.emf.diagram.general"
            name="%prefpage.org.app.infrastructure.designer.emf.diagram.general"
            class="containers.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.app.infrastructure.designer.emf.diagram.appearance"
            name="%prefpage.org.app.infrastructure.designer.emf.diagram.appearance"
            category="org.app.infrastructure.designer.emf.diagram.general"
            class="containers.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.app.infrastructure.designer.emf.diagram.connections"
            name="%prefpage.org.app.infrastructure.designer.emf.diagram.connections"
            category="org.app.infrastructure.designer.emf.diagram.general"
            class="containers.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.app.infrastructure.designer.emf.diagram.printing"
            name="%prefpage.org.app.infrastructure.designer.emf.diagram.printing"
            category="org.app.infrastructure.designer.emf.diagram.general"
            class="containers.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.app.infrastructure.designer.emf.diagram.rulersAndGrid"
            name="%prefpage.org.app.infrastructure.designer.emf.diagram.rulersAndGrid"
            category="org.app.infrastructure.designer.emf.diagram.general"
            class="containers.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.app.infrastructure.designer.emf.diagram"
            labelProvider="containers.diagram.sheet.ContainersSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.app.infrastructure.designer.emf.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.app.infrastructure.designer.emf.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="containers.diagram.sheet.ContainersPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="containers.diagram.providers.ContainersViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Containers"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="containers.diagram.providers.ContainersEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Containers"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="containers.diagram.providers.assistants.ContainersModelingAssistantProviderOfComposeEditPart">
         <Priority name="Lowest"/>
         <object class="containers.diagram.edit.parts.ComposeEditPart" id="Compose_1000"/>
         <context elements="Compose_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="containers.diagram.providers.assistants.ContainersModelingAssistantProviderOfServiceEditPart">
         <Priority name="Lowest"/>
         <object class="containers.diagram.edit.parts.ServiceEditPart" id="Service_2001"/>
         <context elements="Service_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="containers.diagram.providers.assistants.ContainersModelingAssistantProviderOfApplicationEditPart">
         <Priority name="Lowest"/>
         <object class="containers.diagram.edit.parts.ApplicationEditPart" id="Application_2002"/>
         <context elements="Application_2002"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="containers.diagram.providers.ContainersIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="containers.diagram.providers.ContainersParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="https://github.com/rdediosb/AppDesigner">
         <metamodelType
               id="org.app.infrastructure.designer.emf.diagram.Compose_1000"
               name="%metatype.name.Compose_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Compose"
               edithelper="containers.diagram.edit.helpers.ComposeEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="https://github.com/rdediosb/AppDesigner">
         <metamodelType
               id="org.app.infrastructure.designer.emf.diagram.Service_2001"
               name="%metatype.name.Service_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Service"
               edithelper="containers.diagram.edit.helpers.ServiceEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="https://github.com/rdediosb/AppDesigner">
         <metamodelType
               id="org.app.infrastructure.designer.emf.diagram.Application_2002"
               name="%metatype.name.Application_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Application"
               edithelper="containers.diagram.edit.helpers.ApplicationEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="https://github.com/rdediosb/AppDesigner">
         <specializationType
               id="org.app.infrastructure.designer.emf.diagram.ServiceLink_4001"
               name="%metatype.name.ServiceLink_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.app.infrastructure.designer.emf.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.app.infrastructure.designer.emf.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.app.infrastructure.designer.emf.diagram.TypeContext">
         <elementType ref="org.app.infrastructure.designer.emf.diagram.Compose_1000"/>
         <elementType ref="org.app.infrastructure.designer.emf.diagram.Service_2001"/>
         <elementType ref="org.app.infrastructure.designer.emf.diagram.Application_2002"/>
         <elementType ref="org.app.infrastructure.designer.emf.diagram.ServiceLink_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.app.infrastructure.designer.emf.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.app.infrastructure.designer.emf.diagram"
           properties="isURIEditorInput"
           class="containers.diagram.part.ContainersUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.app.infrastructure.designer.emf.diagram.resourceContent"/>
			<contentExtension pattern="org.app.infrastructure.designer.emf.diagram.domainResourceContent"/>
            <contentExtension pattern="org.app.infrastructure.designer.emf.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.app.infrastructure.designer.emf.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.app.infrastructure.designer.emf.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="containers.diagram.navigator.ContainersNavigatorContentProvider" 
            labelProvider="containers.diagram.navigator.ContainersNavigatorLabelProvider"
            icon="icons/obj16/ContainersDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="containers_diagram"/>
               </and>
               <instanceof value="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.app.infrastructure.designer.emf.diagram.navigatorSorter" 
               class="containers.diagram.navigator.ContainersNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="containers_diagram"/>
                  </and>
                  <instanceof value="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.app.infrastructure.designer.emf.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="containers.diagram.navigator.ContainersDomainNavigatorContentProvider" 
            labelProvider="containers.diagram.navigator.ContainersDomainNavigatorLabelProvider"
            icon="icons/obj16/ContainersDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="containers"/>
               </and>
               <instanceof value="containers.diagram.navigator.ContainersDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="containers.diagram.navigator.ContainersDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.app.infrastructure.designer.emf.diagram.navigatorActionProvider"
            class="containers.diagram.navigator.ContainersNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.app.infrastructure.designer.emf.diagram.navigatorLinkHelper"
            class="containers.diagram.navigator.ContainersNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.app.infrastructure.designer.emf.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="containers.diagram.navigator.ContainersAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="containers.diagram.part.ContainersDiagramUpdateCommand"
         description="%update.diagram.description"
         id="containers.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="containers.diagram.updateDiagram"
         contextId="containers.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.app.infrastructure.designer.emf.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="containers.diagram.part.ContainersDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="containers.diagram.edit.parts.ComposeEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="containers.diagram.part.ContainersDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.app.infrastructure.designer.emf.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="containers.diagram.part.ContainersDiagramEditorID"
         defaultHandler="containers.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
